.DS_Store
.DS_Store?
.ipynb_checkpoints
**/*.exe
**/*.iml
.idea
idx*/**
utils/__pycache__
__pycache__
*.pyc

data/train
data/demographic
data/decompensation
data/in-hospital-mortality
data/train_val
data/all/
data/test.zip
data/test/
data/train.zip
data/train_bench/
data/train_listfile_bench.csv

model